###
# Copy this file to config.local.toml
# Edit config.local.toml to match your needs
# The Dockerfile copies config.local.toml to /etc/btcnode-metrics/config.toml in the final image.
###

# Bitcoin node config
[node]
rpc_url = "http://127.0.0.1:9898"
rpc_user = "bitcoinrpc"
rpc_password = "changeme"

# Prometheus metrics host config
[server]
listen_addr = "0.0.0.0:9332"
